@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --cor-fundo: #C5D1D9;
    --font-color: #151E26;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #E9EFF2;
}
ul{
    display: flex;
    list-style: none;
    gap: 2em;
    text-decoration: none;
}
li a{
    text-decoration: none;
    color: var(--font-color);
    font-size: 20px;
    transition: 0.5s ease;
    text-transform: uppercase;
}
li a:hover{
    font-size: 24px;
    color: #acd5f0;
    text-shadow: 1px 1px 2px black;
    
}
#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: var(--cor-fundo);
}
#menu  img{
    height: 75px;
}
#logo_titulo{
    display: flex;
    align-items: center;
    gap: 2em;
    font-size: 22px;
    text-transform: uppercase;
}
#banner img{
    width: 100%;
}
#produtos{
    margin-top: -7px;
    text-align: center;
    background-color: var(--cor-fundo);
    color: var(--font-color);
    text-transform: uppercase;
}
#cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card_home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    max-width: 450px;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: var(--cor-fundo);
    border-radius: 14px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.547);
    transition: 1s ease;
}
.card_home:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.547);
    transition: 1s ease;
}
.card_home img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.card_home a{
    background-color: var(--font-color);
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.547);
}
#title-contato{
    margin-left: 13%;
}
.caixa{
    margin-top: 5%;
    margin-left: 38%;
    border: 2px solid black;
    width: 400px;
    height: 300px;
    border-radius: 15%;
    gap: 15px;
    padding: 0%;
}
#contato-container{
    gap: 15px;
    margin-top: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250%;
}
input {
    display: flex;
    color: var(--branco);
    width: 33%;
    background-color: var(--azul-150);
    border: solid 3px var(--branco);
    border-radius: 10px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input::placeholder{
    font-weight: 300;
    color: var(--branco);
}

#btn-enviar {
    
    padding: 15px;
    border: none;
    background-color: var(--azul-100);
    color: var(--branco);
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: 700;
    width: 31.5%;
    cursor: pointer;
    margin-top: 20px;
    transition: ease 0.5s;
    margin-left: 5px;
    background-color: #465059;
}

#btn-enviar:hover {
    transform: scale(1.06);
    transition: ease 0.5s;
    background-color: #151E26;
    color: white;
}

footer{
    text-align: center;
    background-color: var(--font-color);
    color: white;
    font-size: 18px;
    padding: 20px;
}
