@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --cor-header: #C5D1D9;
    --font-color: #151E26;
    --cor-background: #E9EFF2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #E9EFF2;
    overflow-x: hidden;
}
ul{
    display: flex;
    list-style: none;
    gap: 2em;
    text-decoration: none;
}
li a{
    text-decoration: none;
    color: var(--font-color);
    font-size: 20px;
    transition: 0.5s ease;
    text-transform: uppercase;
}
li a:hover{
    font-size: 24px;
    color: #acd5f0;
    text-shadow: 1px 1px 2px black;
    
}
#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: var(--cor-header);
    width: 100%;
}
#menu  img{
    height: 75px;
}
#logo_titulo{
    display: flex;
    align-items: center;
    gap: 2em;
    font-size: 22px;
    text-transform: uppercase;
}
#banner img{
    width: 100%;
}
#produtos{
    margin-top: -7px;
    text-align: center;
    background-color: var(--cor-header);
    color: var(--font-color);
    text-transform: uppercase;
}
#cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card_home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    max-width: 450px;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: var(--cor-header);
    border-radius: 14px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.547);
    transition: 1s ease;
}
.card_home:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.547);
    transition: 1s ease;
}
.card_home img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.card_home a{
    background-color: var(--font-color);
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.547);
}
#title-contato{
    text-align: center;
    font-size: 30px;
}
#pag-contatos{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-background);
}
#contato-container{
    padding: 20px;
    gap: 15px;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}
#email,#telefone,#interesse, #nome-completo,#usuario,#senha{
    display: flex;
    color: var(--font-color);
    width: 100%;
    background-color: white;
    border: solid 3px white;
    border-radius: 10px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
}

#email::placeholder, #telefone::placeholder, #interesse::placeholder, #nome-completo::placeholder,#usuario::placeholder,#senha::placeholder{
    font-weight: 300;
    color: var(--font-color);
}

#btn-enviar,#submit {
    padding: 15px;
    border: none;
    background-color: var(--cor-header);
    color: var(--font-color);
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: 700;
    width: 30%;
    cursor: pointer;
    margin-top: 20px;
    transition: ease 0.5s;
}
.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#btn-enviar:hover,#submit:hover {
    transform: scale(1.06);
    transition: ease 0.5s;
    background-color: #151E26;
    color: white;
}

footer{
    text-align: center;
    background-color: var(--font-color);
    color: white;
    font-size: 18px;
    padding: 20px;
}



/*LOGIN*/
#pag-login {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-backgroundr);
}

#container-login {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;   
}

#card-login{
    border-radius: 20px;
    gap: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--font-color);
    border: solid 1px var(--cor-background);
    height: auto;
}

#title-login {
    color: var(--cor-header);
}

.campos-login {
    color: var(--cor-header);
    width: 100%;
}

.plc {
    color: var(--cor-header);
}

#usuario {
    background-color: transparent;
    color: var(--cor-header);
    border: solid 1px var(--cor-background);
}

::placeholder {
    color: var(--cor-header);
}

#usuario:focus {
    color: var(--cor-header);
}

#senha:focus{
    color: var(--cor-header);
}

#senha {
    color: var(--cor-header);
    background-color: transparent;
    border: solid 1px var(--cor-background);
}

.campos-login > input::placeholder {
    color: var(--cor-header);
}


#btn-login {
    cursor: pointer;
    padding: 10px 30px;
    border: none;
    color: var(--cor-fundo);
    border-radius: 10px;
    transition: ease 0.4s;
}

#btn-login:hover{
    transition: ease 0.4s;
    background-color: var(--cor-fundo);
    border: solid 1px var(--cor-background);
    color: var(--cor-header);
    transform: scale(1.05);
}

/*Quiz*/
#quiz-pag{
    display: flex;
    flex-direction: column;
}
#quiz{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quiz-Form{
    width: 50%;
    padding: 30px;
    border: solid #151E26;
    border-radius: 16px;
    background-color: var(--cor-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: auto;
    gap: 20px;
}
.perguntas{
    max-width: 80%;   
    min-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}
.alternativa{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 15px;
}   
/*Sobre*/
/*Aperfeiçoar o card!*/
/*Colocar o card na esquerda e a imagem na direita!*/
.card_sobre{
    width: 50%;
    height: 100%;
    border-radius: 30px;
    background:var(--cor-header);
    box-shadow: 10px 10px 25px #000000,-10px -10px 25px #0f0f0f;
    padding: 25px;
    margin: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#sobre_titulo{
    font-size:80px;
}
#sobre_texto{
    font-size: 33px;
    margin-top: 10px;
}


